.menu-hamburger {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;

  width: 20rem;

  background-color: white;
  border-left: 1px solid gray;
}

.menu-hamburger__header {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 1rem;
}

.menu-hamburger__toggle {
  display: flex;
  align-items: center;

  color: primaryGray(0);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;

  background-color: transparent;
  @include appearance-reset;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
