.menu-hamburger {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;

  width: 20rem;

  background-color: white;
  border-left: 1px solid gray;
}

.menu-hamburger__header {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 1rem;
}

.menu-hamburger__close {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 2rem;
  width: 2rem;
  margin: 1rem;
  padding: 0;

  background-color: transparent;
  @include appearance-reset;
  border: 1px solid primaryGray(8);
  border-radius: 50%;
}

.menu-hamburger__close .icon {
  height: 1rem;
}

.menu-hamburger-header__heading {
  flex: 1 1 auto;

  font-size: 2rem;
}

.menu-hamburger__toggle {
  display: flex;
  align-items: center;

  color: primaryGray(0);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;

  background-color: transparent;
  @include appearance-reset;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
