.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90vh;
  max-height: 70rem;
}

.hero__more-content-scroll {
  position: absolute;
  bottom: 1rem;
  left: 50%;

  transform: translateX(-50%);
}
