.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90vh;
  max-height: 70rem;

  color: primaryGray(0);
}

.hero:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  content: '';
  background-color: rgba(primaryGray(7), 0.5);
}

.hero__content {
  position: relative;
  display: flex;
  justify-content: center;
}

.hero__content h1 {
  font-size: 4rem;
  line-height: 1;
}

.hero__content small {
  display: block;

  font-size: 0.39em;
}

.hero__more-content-scroll {
  position: absolute;
  bottom: 1rem;
  left: 50%;

  transform: translateX(-50%);
}

@include media-query(small) {
  .hero__content h1 {
    font-size: 6rem;
  }
}

@include media-query(medium) {
  .hero__content h1 {
    font-size: 8rem;
  }

  .hero__content {
    display: flex;
    justify-content: flex-end;
  }

  .hero-content__inner {
    margin-right: 8rem;
  }
}
