$primary-yellow: hsl(57, 100%, 50%);
$primary-red: hsl(358, 85%, 52%);

$yellowScale: (
  1: lighten($primary-yellow, 35),
  2: lighten($primary-yellow, 25),
  3: lighten($primary-yellow, 15),
  4: $primary-yellow,
  5: adjust-hue($primary-yellow, -5),
  6: adjust-hue($primary-yellow, -10),
  7: adjust-hue($primary-yellow, -15),
);

$redScale: (
  1: lighten($primary-red, 30),
  2: lighten($primary-red, 20),
  3: lighten($primary-red, 10),
  4: $primary-red,
  5: darken($primary-red, 15),
  6: darken($primary-red, 25),
  7: darken($primary-red, 35),
);

$grayScale: (
  0: hsl(0%, 0%, 100%),
  1: hsl(0%, 0%, 96%),
  2: hsl(0%, 0%, 92%),
  3: hsl(0%, 0%, 80%),
  4: hsl(0%, 0%, 60%),
  5: hsl(0%, 0%, 30%),
  6: hsl(0%, 0%, 20%),
  7: hsl(0%, 0%, 15%),
  8: hsl(0%, 0%, 0%),
);

@function primaryYellow($num: 4) {
  @return map-get($yellowScale, $num);
}

@function primaryRed($num: 4) {
  @return map-get($redScale, $num);
}

@function primaryGray($num: 4) {
  @return map-get($grayScale, $num);
}

.colors {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(7, 1fr);
}

.color {
  padding-top: 100%;
}

@for $i from 1 through 7 {
  .yellow-#{$i} {
    background-color: primaryYellow($i);
  }
}
@for $i from 1 through 7 {
  .red-#{$i} {
    background-color: primaryRed($i);
  }
}
@for $i from 0 through 8 {
  .gray-#{$i} {
    background-color: primaryGray($i);
  }
}
